@{
    ViewData["Title"] = "Index";
}

<h1>
    Herzlich Willkommen
</h1>

<a asp-controller="Home" asp-action="Pong">Pong</a>
<a asp-controller="Home" asp-action="PaintingTogether">Painting Together</a>
@*<a href="~/RollBall/index.html">Roll a Ball</a>*@